<nav class="custom-navbar">
    <div class="custom-navbar-content">
        <div class="custom-user-log">
            <i class="fa fa-user" aria-hidden="true"></i> <span>  {{ app.user.nom }} </span>
        </div>
        <div class="custom-user-info">
            <div class="custom-info-content">
                <div class="custom-info">
                    Connecte en tant que  <span class"user-log">  {{ app.user.nom }} </span>
                </div>
                <hr class="hr-separate" />
                <div class="logout">
                    <a href="{{ path('app_logout') }}"> Deconnexion</a>
                </div>
            </div>
        </div>
    </div>
</nav>