{% extends 'base.html.twig' %}
{% block title %} Page d'accueil de CAVP | Paositra malagasy! {% endblock %}

{% block body %}
<main>
  {% if app.user %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="overlay-image" style="background-image:url('image/logofront.png');"></div>
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="h1">Centre d'Approvisionnement en Valeurs Postales </h1>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4">
          <img loading="lazy" width="150" height="150" src="{{ asset('build/images/vonona.png') }}" class="imageHomepage"/>
            <h2 class="fw-bolder">Information </h2>
              <p>
                  Le CAVP assure l’approvisionnement des bureaux en valeurs postales tel que Timbre-poste et Produits Nouveaux Postaux (autres produits et produits philatéliques qu’il confectionne par ses soins. 
                  Il effectue la vente par correspondance à l’Etranger, et gère les comptes de réserve des philatélistes. 
                  Le CAVP élabore le catalogue des produits philatéliques dont il dispose au caveau.
              </p>
        </div>

        <div class="col-lg-4">
          <img loading="lazy" width="150" height="150"src="{{ asset('build/images/menabe-maitso.png') }}" class="imageHomepage"/>
          <h2 class="fw-bolder">CAVP</h2> 
              <p>
                  Centre d'Approvisionement des Valeurs Postales est la fusion du Centre d’approvisionnement en Timbres-Poste et le Service Philatélique auparavant. 
                  Il est rattaché directement à la Direction des Opérations Postales. Le CAVP est composé de : section commande, section expédition et secrétariat
              </p>
        </div>

        <div class="col-lg-4">
          <img loading="lazy" width="150" height="150"src="{{ asset('build/images/TIMBRE 1200dpi.jpg ') }}" class="imageHomepage"/>
          <h2 class="fw-bolder">Produits Postaux</h2>
          <p class="d-inline">    
              CAVP est la fusion du Centre d’approvisionnement en Timbres-Poste et le Service Philatélique auparavant.
              Il est rattaché directement à la Direction des Opérations Postales.</p>
        </div>
      </div>

      <hr class="featurette-divider">
  {% else %}
    <h1>Page not found 404 </h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the authentification </a>.
    </p>
  {% endif %}
</main>
{% endblock %}
