{% extends 'base.html.twig' %}

{% block title %} Modifier utilisateur {% endblock %}
{% block head_page %} Modifier utilisateur {% endblock %}
{% block main %}
    <div class="q-container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% include "register/_form.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
