<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {{ encore_entry_link_tags('app') }}
   {{ encore_entry_script_tags('app') }}
  <title> Inscription sur cavp | Paositra Malagasy</title>
</head>
<body class="corps">
    <div > 
        <div class="box-element card-solid" id="inscriptions">
            <div class="card card-body">
                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="pb-1 fad fa-cauldron"></i>
                    <h3 class="fw-normal" style="color:#e3151a;margin: 2px auto;">Page d'inscription de CAVP</h3>
                </div>
                {% if notif %}
                        {{ notif }}
                {% endif %}
                <form method="post" style="width: 23rem;">
                    <div class="form-outline mb-4">
                        {{ form(formule) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
                
</body>
</html>