@import "custom.scss";
@import "/assets/styles/base/sidebar.css";
@import "/assets/styles/base/admin.css";
@import "/assets/styles/base/navbar.css";
@import "/assets/styles/base/head-menu.css";
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
:root{
  --primary-color: #004387;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  padding-top: 0rem;
  padding-bottom: 0em;
  color: #5a5a5a;
}

.rowbase{
  background-color: #004387;
}

th,td,label,p,.dataTables_info,a {
  font-size: 13px;
}

.alert-danger{
  color: #004387;
}

#form_numero{
  margin-top: 3px;
}

button [class="select-modal"]{
  background-color: #E3161B;
  color: #fff;
  border: none;
  font-size: small;
}

a{
  text-decoration: none;
}
.fw-bold {
  color: #004387;
  font-size: 14px;
}
.prod {
  color: #004387;
}
.head{
  display: none;
}
.title,.sorting,th{
  color: #004387;
}
.table-titre,.modal-header{
  background-color: #ffd500;
  color: #004387;
}
.modal-title{
  font-size: 14px;
}
.dt-button{
  font-size: small;
  border: 1px;
  border-radius: 2px;
}
#form_numero,#form_types{
  display: -webkit-inline-box;

}
#references{
  display: none;
}

.select{
  border-radius: 5px;
  font-size: 13px;
}
.btn-primary,.dt-button,#mouvement_submit,#form_submit {
  border: none;
  background-color: #ffd500;
  color: #004387;
}

#mouvement_submit{
  font-size: small;
}

.btn-primary:active,#form_submit:active {
  background-color: #E3161B;
  color: white;
}

.btn-danger{
  background-color: #E3161B;
  font-size: small;
  border: none;
  color: white;
}
.btn-danger:hover {
  background-color: #004387;
  font-size: small;
  border: none;
  color: white;
}

.paginate_button,.page-link{
  text-decoration: none;
  font-size: 13px;
}

.card-solid {
  margin: 5px;
  height: 255px;
}

#references{
  display: none;
}

#panel, #flip,#flip1 {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
#panel {
    padding: 50px;
    display: none;
  }
#mouvement_submit{
  align-items: center;
  text-align: center;
  align-content: center;
}

#new_operation{
  width: 100%;
  background-color: #f1f0de;
}

#logo{
  width: 60px;
  height: 70px;
  border-radius: 8px;
}
#register{
  color: #e31419;
  text-decoration: none;
}
  /*  CSS pour le mouvement
  -------------------------------------------------- */
#numero,#dateEntrer,#number_out
{
    display: none;
}

  /*  base htnl
  -------------------------------------------------- */
  .logo{
    width: 60px;
    height: 70px;
    border-radius: 10px;
  }
.admin{
  font-size: 30px;
  color: #111AAA;
}
#user,#bouton{
  display: none;
}
#info{
  color: #e31419;
}

@media print {
  * {
      font-size: 9px;
  }

  @page {
      size: landscape;
      margin: 2mm 2mm 2mm 2mm;
  }

  #to-hide-while-printing {
      display: none;
  }
}
.rond {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid black;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.titre{
  color: #e31419;
  font-size: 20px;
}
.fw-bolder,.fw-normal{
  color: #e31419;
  font-size: 16px;
}

.nav-link{
  color: #004387;
  font-size: 13px;
}

.user-label,.user,.deconnecter,.action-edit{
  font-size: 14px;
}

.corps{
  background-color: #c82232;
}

#panel1, #typesNum {
  width: 400px;
  padding: 5px;
  text-align: center;
  border: solid 1px #c3c3c3;
}

#panel1 {
  width: 400px;
  padding: 50px;
  text-align: center;
  background-color: #e5eecf;
  display: none;
}

.nav-tabs .nav-link .active {
  background-color: #dc3444;
  color: #fff;
  border: 3px solid #dc3444;
}
.nav-tabs .nav-link{
  background-color: #ffd500;
  color: #004387;
  margin-right: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-tabs .nav-link:hover{
  color:#fff;
  font-size: 13px;
  background-color: #004387;
}
.nav-tabs{
  border-bottom: 1px solid #fff;
}
.tab-content{
  border: 2px solid #fff;
  padding: 28px;
}
.label{
  margin-left: 1rem;
  border-radius: 3px;
}

#utilisateur{
  display: none;
}

.form-control{
  font-size: 13px;
  border-radius: 0px;
}

select .form-control{
  width: 60px;
}
