body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background: #34495e;
}
form,#box{
	width: 330px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: blanchedalmond;
	text-align: center;
	border-radius: 15px;
}

form h1{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}
form label{
	color: #fff;
	font-weight: 500;
}

form input[type='time'],form input[type=text]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 15px 20px;
	width: 200px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: 0.25s;
}

form input[type='time']:focus,form input[type=text]:focus{
	width: 280px;
	border-color: #2ecc71;
}

form input[type='submit']{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 15px 40px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

form input[type='submit']:hover{
	background:#2ecc71;
}