{% extends "base.html.twig" %}

{% block title %} Créer un categorie {% endblock %}
{% block head_page %} Créer un categorie {% endblock %}
{% block main %}
   <div class="q-container">
      <div class="row">
          <div class="col-md-12">
            {% include "admin/config/categorie/_form.html.twig" %}
          </div>
      </div>
  </div>
{% endblock %}