<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Centre d'Approvisionnement en Valeurs Postales (CAVP) | Paositra malagasy!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="container-custom">
            <div class="content-custom">
                {# SIdebar   #}
                    {% include "_parseall/sidebar.html.twig" %}
                {# main #}
                <section class="main-custom">
                    {# Navbar #}
                    <header>
                        {% include "_parseall/_navbar.html.twig" %}
                    </header>
                    <section class="section-title-menu">
                        <h2 class="custom-title"> {% block head_page %} <i class="fa fa-home" aria-hidden="true"></i>  Admin de CAVP{% endblock %}</h2>
                    </section>
                    
                    <section class="section-main">
                        {% block main %}
                                    
                        {% endblock %}
                    </section>
            </section>
            </div>
        </div>  
        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>