{% extends 'base.html.twig' %}

{% block title %}No product {% endblock %}

{% block body %}
  <div class="container mt-5">
       <span class="head"> {% block titre %} {% endblock %}</span>
      <h1 class="fw-bolder"> Aucun résultat </h1>
  </div>
{% endblock %}