{% extends "base.html.twig" %}
{% block title %} Créer Agence{% endblock %}
{% block head_page %} Créer Agence{% endblock %}
{% block main %}
   <div class="q-container">
       <div class="row">
            <div class="col-md-12">
                {% include "admin/config/agence/_form.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}