{% extends "base.html.twig" %}
{% block title %} Modifier Type d'ordre {% endblock %}
{% block head_page %} Modifier Type d'ordre  {% endblock %}

{% block main %}
   <div class="q-container">
       <div class="row">
            <div class="col-md-12">
                {% include "admin/config/types/_form.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}